# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
# 不使用一些内置文件
/etc/*
/elpa/*
/eln-cache/*
config.el
tramp
/.cache/
/eshell/
/projects.eld
/tree-sitter/
/.org-id-locations
init.el
/*.el
